.row {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.forecast-day {
  padding: 20px 5px;
  margin: 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightblue;
}
